<h1>Matricula</h1>

<form action="/matricula/insert" method="POST">

    {% if formMessage is defined %}
        <p>
            {{ formMessage[0] }}
        </p>
    {% endif %}

    <label>Aluno</label>
    <select name="id_aluno">
        {% for aluno in alunos %}
        <option value="{{ aluno.getId().toString() }}">{{ aluno.getId().toString() }}</option>
        {% endfor %}
    </select>
    
    <label>Classe:</label>
    <select name="id_classe">
        {% for classe in classes %}
        <option value="{{ classe.getId().toString() }}">{{ classe.getNome().toString() }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Matricular">
</form>

<hr/>

<style>
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 10px;
};
</style>

<table >
    <thead>
        <tr>
            <td>ID</td>
            <td>Aluno</td>
            <td>Classe</td>
            <td>Status</td>
            <td>Data</td>
        </tr>
    </thead>

    <tbody>
        {% for matricula in matriculas %}
        <tr>
            <td>
                {{ matricula.getId().toString()}}
            </td>
            <td>
                {{ matricula.getAluno.getNome().toString() }}
            </td>
            <td>
                {{ matricula.getClasse().getNome().toString() }}
            </td>
            <td>
                {{ matricula.getStatus().toString()}}
            </td>
            <td>
                {{ matricula.getData().toDateTimeImmutable().format('d/m/Y H:i')}}
            </td>
        </tr>
        {% endfor %}
    </tbody>    
</table>